
<form action="/text" method="post">
    <p>Titulo:</p>
    <input type="text" name="title">

    <p>Texto:</p>
    <textarea name="text"></textarea>
    
    <br>
    <button type="submit">Send</button>
</form>
